@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  cursor: none;
  width: 100svw;
  height: 100svh;
  background-color: black;
}

canvas {
  top: 0px;
  left: 0px;
  width: 100svw;
  height: 100svh;
  display: block;
  position: absolute;
}

main {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100svw;
  height: 100svh;
}

#copyright-notice {
  color: white;
  opacity: 0.12;
  font-size: 0.9svh;
  text-align: center;

  /* why does this require so much just to tell the window to "center text on bottom of screen"??? */
  left: calc(50% - 24px);
  bottom: 9px;
  position: fixed;
  transform: translateX(-50%);

  z-index:4;
}

#phase {
  z-index: 2;
  opacity: 0 !important;
  background-color: transparent;
  pointer-events: all;
  border-radius: 32px;
}

#three {
  z-index: 1;
  background-color: transparent;
  pointer-events: all;
  border-radius: 32px;
}

#bezel {
  top: 0px;
  left: 0px;
  position: absolute;
  width: calc(100svw - 24px);
  height: calc(100svh - 24px);
  border: 12px solid black;
  border-radius: 32px;
  box-shadow: 0px 0px 0px 100px black;
  background-color: transparent;

  z-index: 3;
  pointer-events: none !important;
}