@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  cursor: none;
  width: 100svw;
  height: 100svh;
  background-color: black;
}

canvas {
  top: 0px;
  left: 0px;
  width: 100svw;
  height: 100svh;
  display: block;
  position: absolute;
}

main {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100svw;
  height: 100svh;
}

#copyright-notice {
  color: white;
  opacity: 0.12;
  font-size: 0.9svh;
  text-align: center;

  /* why does this require so much just to tell the window to "center text on bottom of screen"??? */
  left: calc(50% - 24px);
  bottom: 9px;
  position: fixed;
  transform: translateX(-50%);

  z-index:4;
}

overlay {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  opacity: 1;
  cursor: pointer;
}
overlay > span {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin-top: calc(30vh + 36pt);
  text-shadow: #FFEC42 0px 0px 6px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
} 

#typograph {
  position: absolute;
  top: 12px;
  right: 42px;
  width: 222px;
  opacity: 0.12;
  margin-top: 0;
  font-size: 144pt;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: rgba(20, 160, 255, 1) 0px 0px 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

#phase {
  z-index: 2;
  opacity: 0 !important;
  background-color: transparent;
  pointer-events: all;
  border-radius: 32px;
}

#three {
  z-index: 1;
  background-color: transparent;
  pointer-events: none !important;
  border-radius: 32px;
}
#bezel {
  top: 0px;
  left: 0px;
  position: absolute;
  width: calc(100svw - 24px);
  height: calc(100svh - 24px);
  border: 12px solid black;
  border-radius: 32px;
  box-shadow: 0px 0px 0px 100px black;
  background-color: transparent;

  z-index: 3;
  pointer-events: none !important;
}